@import url('/assets/css/base.css');
@import url('/assets/css/brand.css');
@import url('/assets/css/layout.css');
@import url('/assets/css/components.css');

body {
  color: var(--color-light-2);
  background-color: var(--color-dark);
}

.header-wrapper,
.footer-wrapper {
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 4rem;
}

.header-logo path {
  fill: currentColor;
  opacity: 50%;
}

.main {
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 0 2rem;
  transform: translateY(16%);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.1;
}

.icon-warning {
  width: 40%;
}

.icon-warning-frame {
  fill: none;
  stroke: #f9c817;
}

.icon-warning-ex-mark {
  fill: #f2d15d;
}

.footer-btn {
  width: 100%;
  padding: 1rem 0;
  border-radius: var(--border-radius-m);
}

.btn-primary {
  font-size: 1.1rem;
}

.btn-whatsapp {
  gap: 0.3rem;
  background-color: var(--color-primary-3);
}

.icon-whatsapp {
  width: 1.05rem;

  color: white;
  transform: translateY(-0.5px);
}
