:root {
  /* ============
     Solid Colors
     ============ */
  --color-primary-1: #788d7a;
  --color-primary-2: #627664;
  --color-primary-3: #82c589;

  --color-light-1: #fffef9;
  --color-light-2: #f0efe9;
  --color-light-3: #dedcd7;

  --color-dark: #323732;

  --color-nutral-1: #a8a7a0;
  --color-nutral-2: #d9d9d9;

  --color-error-1: #e27e6a;
  --color-error-2: #b96e5f;

  --color-status-success: #43a047;
  --color-status-warning: #fb8c00;
  --color-status-error: #d4514f;

  --color-shadow-1: rgba(0, 0, 0, 0.12);
  --color-shadow-layering: rgba(0, 0, 0, 0.08);

  /* ===============
     Gradient Colors
     =============== */

  /* ==========
     Typography
     ========== */
  font-size: 100%;
  --font-family: 'Afek', sans-serif;

  /* ================
     Shapes & Borders
     ================ */
  --border-radius-xl: 1rem;
  --border-radius-l: 0.75rem;
  --border-radius-m: 0.5rem;
  --border-radius-s: 0.25rem;

  /* =======
     Shadows
     ======= */
  --box-shadow-1: 0 1rem 0.75rem var(--color-shadow-1);

  /* ======
     Layout
     ====== */

  /* ==========
     Animations
     ========== */
  --animation-duration: 600ms;
  --animation-delay: 200ms;
  --animation-timing-funtion: cubic-bezier(0.4, 0, 0.2, 1);
}

/* =====
   Fonts
   ===== */

@font-face {
  font-family: 'Afek';
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url('/assets/fonts/afek-regular-aaa.woff2') format('woff2');
}

@font-face {
  font-family: 'Afek';
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url('/assets/fonts/afek-bold-aaa.woff2') format('woff2');
}

@font-face {
  font-family: 'Afek';
  font-weight: 800; /* Ultra Bold */
  font-style: normal;
  src: url('/assets/fonts/afek-ultrabold-aaa.woff2') format('woff2');
}

body {
  font-family: var(--font-family);
}
