@import url('/assets/css/base.css');
@import url('/assets/css/brand.css');

/* =======
   Buttons
   ======= */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;

  border-radius: var(--border-radius-m);
}

.btn-primary {
  background-color: var(--color-primary-1);
}

.btn-secondary {
  background-color: transparent;
  border: 3px solid;
}

.btn-cancel {
  font-size: 1rem;

  color: var(--color-error-1);
  border-color: var(--color-error-1);

  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius-m);
}

.btn-cancel #x-mark {
  font-size: 1rem;
  margin-left: 1px;
  transform: translateY(-0.5px);
}

/* ======
   Header
   ====== */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 5.5rem;
}

.header-logo path {
  fill: var(--color-primary-1);
  stroke: var(--color-primary-1);
}
