@import url('/assets/css/base.css');
@import url('/assets/css/brand.css');

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;

  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-m);
}

.btn-primary {
  background-color: var(--color-primary-1);
}

.btn-cancel {
  color: var(--color-light-1);
  background-color: var(--color-error-1);
}

.btn-cancel.btn-icon svg {
  width: 1.25rem;
}

.btn-icon {
  gap: 2px;
}
