@import url('/assets/css/base.css');
@import url('/assets/css/brand.css');

/* =======
   Buttons
   ======= */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;

  border-radius: var(--border-radius-m);
}

.btn-primary {
  background-color: var(--color-primary-1);
}

.btn-secondary {
  background-color: transparent;
  border: 2.5px solid;
}

.btn-cancel {
  font-size: 0.85rem;

  color: var(--color-error-1);
  border-color: var(--color-error-1);

  padding: 0.1rem 0.5rem;
  border-radius: var(--border-radius-s);
}

.btn-cancel #x-mark {
  font-size: 1rem;
  margin-left: 1px;
  transform: translateY(-0.5px);
}

.btn:disabled {
  cursor: default;
  color: var(--color-nutral-1);
  background-color: var(--color-nutral-2);
}

/* ===============
   Header & Footer
   =============== */

header,
footer {
  height: fit-content;
}

/* ======
   Header
   ====== */

header {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: inherit;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 5.5rem;
}

.header-logo path {
  fill: var(--color-primary-1);
  stroke: var(--color-primary-1);
}

/* ======
   Footer
   ====== */

footer {
  position: sticky;
  bottom: 0;
  z-index: 1;

  background-color: inherit;
}

.footer-button-next {
  width: 100%;
  padding: 1rem 0;
}

.footer-button-next .complete {
  display: none;
}

.footer-button-next:not(:disabled) {
  color: var(--color-light-1);
  background-color: var(--color-primary-1);
}

.footer-stage-indicator {
  display: flex;
  justify-content: center;

  margin-top: 1rem;
}

.footer-stage-indicator li {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 0 2px;
}

.footer-stage-indicator-dot {
  width: 0.5rem;
  height: 0.5rem;

  border-radius: 5rem;

  background-color: var(--color-nutral-2);
}

.footer-stage-indicator li.current-step .footer-stage-indicator-dot {
  background-color: var(--color-primary-1);
}

.footer-stage-indicator-complete svg {
  width: 1rem;
  fill: var(--color-primary-1);

  opacity: 0;
}

/* ====
   Form
   ==== */

form .steps {
  display: grid;
}

form .steps fieldset {
  --opacity: 30%;

  grid-area: 1 / 1;

  font-size: 20rem;
  font-weight: 800;
  text-align: center;

  opacity: var(--opacity);
  transition: opacity 300ms ease;
}

form .steps fieldset:not(.current-step) {
  opacity: 0;
}
