@import url('/assets/css/base.css');
@import url('/assets/css/brand.css');

body {
  display: grid;
  grid-template-rows: 1fr 7fr 2fr;
  justify-content: center;
}

.wrapper {
  width: clamp(20rem, 100%, 40rem);
  margin: 1rem 1.75rem;
}

header,
.main,
footer {
  width: 100vw;
  display: flex;
  justify-content: center;
}
