@import url('/assets/css/base.css');
@import url('/assets/css/brand.css');

.wrapper {
  width: clamp(20rem, 100%, 25rem);
  margin: 0 1.75rem;
}

.header-wrapper,
.footer-wrapper,
form .steps {
  padding: 1.25rem 0;
}

header,
.main,
footer {
  width: 100vw;
  display: flex;
  justify-content: center;
}
